*
!*.*
!*/
!makefile
*.aux
*.out
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.loa
*.synctex.gz
*.toc
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.dvi
*.lof
exams/**/*.pdf
!exams/**/[0-9][0-9][0-9][0-9][NR].pdf
!exams/**/[0-9][0-9][0-9][0-9][NR]-sol.pdf
a.out
tp03/text.out
test
exams/2019/out.txt
exams/2018/2018N_06_testdir/dst
